#headcol {
  background-color:rgba(140,0,0,0.86);
  height: 120px;
}
#title{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:120px;
}

* {box-sizing: border-box;}

::-moz-selection { /* Code for Firefox */
  color: white;
  background: rgba(140,0,0,0.86);
}

::selection {
  color: white;
  background: rgba(140,0,0,0.86);
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: rgba(140,0,0,0.86);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(190,0,0,1);
}


.container {
  position: relative;
  text-align: center;
  color: white;
}

.bg-img {
  width: 100%;
  height: auto;
  min-height:200px;
  max-height:500px;
}

.content{
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0, 0.5);
  width:100%;
  padding:10px;
  text-align:center;
}

@media screen and (max-width: 750px){
.content {
  bottom:0px;
  padding:2px;
  font-size:8px;
}
}


body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color:#e4e4e4;
}


/* The navbar */

.navbar {
  width: 100%;
  background-color: rgba(140,0,0,0.86);
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: #f0f0f0;
  text-decoration: none;
  font-size: 17px;
  width: 25%;
  text-align: center;
}

.navbar a:hover {
  background-color: #f0f0f0;
  color: rgba(140,0,0,0.86);
}

@media screen and (max-width: 600px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: center;
  }
}


hr.l2 {
  width: 60%;
  border: 5px solid rgba(140,0,0,0.88);
  border-radius: 5px;
}

hr.l1 {
  width: 90%;
  border: 7px solid rgba(140,0,0,0.88);
  border-radius: 5px;
}

/*Home.html*/

.imgresp{
	width:250px;
}


.column {
  float: left;
}

.left1 {
  background-color:rgba(190,0,0,1);
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.right1 {
  width: 70%;
  background-color:rgba(190,0,0,1);
  height: 400px;
}

.left2 {
  width: 70%;
  height: 400px;
  background-color:white;
}


.right2 {
  background-color:white;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  height:400px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.p1s  {
	font-size: 20px;
	color: #f1f1f1;
	padding: 35px 60px;
}

.h1s  {
	font-size: 30px;
	text-decoration: underline;
	color: #f1f1f1;
	padding: 60px;
}

.p2s  {
	font-size: 20px;
	color: rgba(192,0,0,1);
	padding: 35px 60px;
}

.h2s  {
	font-size: 30px;
	text-decoration: underline;
	color: rgba(192,0,0,1);
	padding: 60px;
}


/*Services.html*/

.column2 {
  float: left;
}

.rows:after{
  content: "";
  display: table;
  clear: both;
}

.rows{
	padding: 60px 80px;
}

.lefts {
  width: 30%;
}

.rights {
	
  font-size: 20px;
  width: 65%;
  height:270px;
  background-color:#f4f4f4;
  border: 3px solid black;
  padding: 30px 70px;
  color:rgba(192,0,0,1);;
}



/*responsive*/ 

@media screen and (max-width: 750px) {
	
.column {
    width: 100%;
}

.p1s{
	padding:30px;
	font-size: 17px;
}

.p2s{
	padding:30px;
	font-size: 17px;
}
.h1s{
	padding:30px;
	font-size: 25px;
}
.h2s{
	padding:30px;
	font-size: 25px;
}
.right1 {
  height: 350px;
}

.left2 {
  height: 350px;
}
	
}

@media screen and (max-width: 850px){
	.rows{
  padding: 5px 5px;
}

.column2 {
    width: 100%;
}	

.rights {
font-size:17px;
height:270px;
}
	
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
}

@media screen and (max-width: 1200px){
	 
.rows{
  padding: 5px 5px;
}
.rights {
  padding: 5px 10px;
  
}
}