#headcol {
  background-color:rgba(140,0,0,0.88);
  height: 120px;
}
#title{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:120px;  
}

* {
  box-sizing: border-box;
}

::-moz-selection { /* Code for Firefox */
  color: white;
  background: rgba(140,0,0,0.86);
}

::selection {
  color: white;
  background: rgba(140,0,0,0.86);
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: rgba(140,0,0,0.86);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(190,0,0,1);
}


.bg-img {
  width: 100%;
  height: auto;
  min-height:500px;

}

@media screen and (max-width: 1000px){
.bg-img {
	min-height:200px;
	height: auto;
}	
}


.container {
  position: relative;
  text-align: center;
  color: white;
}

.content{
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0, 0.5);
  width:100%;
  padding:10px;
  color:white;
  text-align:center;
}

@media screen and (max-width: 750px){
.content {
  bottom:0px;
  padding:2px;
  font-size:8px;  
}
}


body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #e4e4e4;
  
}


/*navbar */
.navbar {
  width: 100%;
  background-color: rgba(140,0,0,0.88);
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: #f0f0f0;
  text-decoration: none;
  font-size: 17px;
  width: 25%;
  text-align: center;
}

.navbar a:hover {
  background-color: #f0f0f0;
  color: rgba(140,0,0,0.86);
}

@media screen and (max-width: 600px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: center;
  }
}

/*About.html*/

.contb{
	  background-color:rgb(190,0,0);
}


hr.l2 {
  width: 60%;
  border: 5px solid #e4e4e4;
  border-radius: 5px;
}

hr.l1 {
  width: 90%;
  border: 7px solid #e4e4e4;
  border-radius: 5px;
}


#headt{
	font-size: 50px;
	padding: 50px 170px;
	font-weight: bold;
	text-align: center;
	color:#e4e4e4;
}

.para1{
	font-size: 25px;
	padding: 40px 150px;
	color:#e4e4e4;
}


.column {
  float: left;
  padding: 10px;
  height: 300px;
}

.left {
  width: 30%;
}

.right {
  width: 70%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.row {
	padding: 60px 80px;
}

.para2{
	font-size: 20px;
	padding: 20px 60px;
	color: rgba(192,0,0,1);
}



/*contact.html */

#ctitle{
	font-size: 50px;
	padding: 100px 170px;
	font-weight: bold;
	text-align: center;
}

.cont1 {
  background-color: #e4e4e4;
  color: rgb(190,0,0);
  counter-reset: section;
}
.column1{
  float: left;
  width: 50%;
  padding: 10px 100px;
  height: 580px; 
}
.row3:after {
  content: "";
  display: table;
  clear: both;
}
h3::before {
  counter-increment: section;
  content:  counter(section) ". ";
}

h3{
	font-size:22px;
	padding: 12px 25px;
}


.cont3{
	background-color: rgb(190,0,0);
}

h2{
	font-size:30px;
	padding: 40px ;
	text-align:center;
	color:#e4e4e4;
}

.line1{
	font-size:20px;
	padding: 5px 10px ;
	text-align:center;
	color:#e4e4e4;
}

/*form*/

input[type=text],input[type=number],input[type=email], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: grey;
  color: #e4e4e4;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin:0 auto;
    display:block;
 }

input[type=submit]:hover {
  background-color: #e4e4e4;
  color:rgb(190,0,0);
}

.cont2 {
  padding: 50px ;
  background-color: #e4e4e4;
  width: 550px;
  border: 3px solid black;
  height:640px;
  margin: auto;
  color:rgb(190,0,0);
}

.col-25 {
  float: left;
  width: 25%;
}

.col-75 {
  float: left;
  width: 75%;
}

  
.row2:after {
  content: "";
  display: table;
  clear: both;
}

.row2 {
	padding: 20px 40px;
}


/*responsive*/

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}


@media screen and (max-width: 1200px){
.column {
    width: 100%;
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
}

@media screen and (max-width: 950px){
#headt{
	padding: 30px 130px;
}

.para1{
	padding: 25px 120px;
}

.row {
	padding: 30px 40px;
}

.para2{
	padding: 15px 35px;
}	
}

@media screen and (max-width: 650px){
#headt{
	font-size: 35px;
	padding: 20px 70px;
}

.para1{
	font-size: 15px;
	padding: 18px 60px;
}


.row {
	padding: 20px 25px;
}

.para2{
	font-size: 15px;
	padding: 10px 20px;
}
}


@media screen and (max-width: 1000px){
	.column1{
		width:100%;
       height: 500px; 
	    padding: 10px 50px;
	}
	.cont1{
		height:1400px;
	}
}


@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;   
  }
 
.cont2 {
  padding: 15px ;
  width: 100%;
  height:800px;
}
 
    
h2{
	font-size:20px;
	padding: 30px ;
}

.line1{
	font-size:14px;

}  
  
   
 #ctitle{
	font-size: 35px;
	padding: 60px ;
	font-weight: bold;
	text-align: center;
}

h3{
	font-size:17px;
	padding: 8px 5px;
}
.column1{
     height: 370px; 
	 padding: 5px 20px;
}
.cont1{
	height:1000px;
}  
}